# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Package build
*.egg-info/
dist/
build/

# Virtual environment
.pixi/
.venv/

# Environment variables
.vscode/*.env

# Captured pictures
pictures/
